*.swp
.DS_Store
node_modules
npm-debug.log
tmp
bin/configlet
bin/configlet.exe
.idea

*.js~
.vscode


exercises/bob/bob.js
exercises/leap/leap.js
exercises/pangram/pangram.js
exercises/rna-transcription/rna-transcription.js
exercises/simple-cipher/simple-cipher.js
exercises/hello-world/hello-world.js
