# {{ .Spec.Name }}

{{ .Spec.Description -}}
{{- with .Hints }}
{{ . }}
{{ end }}

## Setup

See http://exercism.io/languages/javascript/installation

## Usage

Run the test suite from the exercise directory with:

```sh
jasmine {{ .Spec.Slug }}.spec.js
```

{{ with .Spec.Credits }}
## Source

{{ . }}
{{ end }}
## Submitting Incomplete Solutions
It's possible to submit an incomplete solution so you can see how others have completed the exercise.
